.primary_header {
  background-color: hsl(var(--color-elements));
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding-header); 
  box-shadow:
  0px 0.7px 3.6px rgba(0, 0, 0, 0.024),
  0px 1.9px 10px rgba(0, 0, 0, 0.035),
  0px 4.5px 24.1px rgba(0, 0, 0, 0.046),
  0px 15px 80px rgba(0, 0, 0, 0.07);
}

.title {
  font-size: 1rem;
}

@media (min-width: 1024px){
  .title {
    font-size: 1.6rem;
  }
}